<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.future.ims.mapper.ImsIntegeralMapper" >
  <resultMap id="BaseResultMap" type="org.future.ims.pojo.ImsIntegeral" >
    <id column="integeral_id" property="integeralId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="clubroom" property="clubroom" jdbcType="VARCHAR" />
    <result column="semester" property="semester" jdbcType="VARCHAR" />
    <result column="class" property="class" jdbcType="VARCHAR" />
    <result column="creatime" property="creatime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    integeral_id, name, student_id, score, reason, clubroom, semester, class, creatime, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.future.ims.pojo.ImsIntegeralExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ims_integeral
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ims_integeral
    where integeral_id = #{integeralId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ims_integeral
    where integeral_id = #{integeralId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.future.ims.pojo.ImsIntegeralExample" >
    delete from ims_integeral
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.future.ims.pojo.ImsIntegeral" >
    insert into ims_integeral (integeral_id, name, student_id, 
      score, reason, clubroom, 
      semester, class, creatime, 
      update_time)
    values (#{integeralId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{clubroom,jdbcType=VARCHAR}, 
      #{semester,jdbcType=VARCHAR}, #{class,jdbcType=VARCHAR}, #{creatime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.future.ims.pojo.ImsIntegeral" >
    insert into ims_integeral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="integeralId != null" >
        integeral_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="clubroom != null" >
        clubroom,
      </if>
      <if test="semester != null" >
        semester,
      </if>
      <if test="class != null" >
        class,
      </if>
      <if test="creatime != null" >
        creatime,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="integeralId != null" >
        #{integeralId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="clubroom != null" >
        #{clubroom,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        #{semester,jdbcType=VARCHAR},
      </if>
      <if test="class != null" >
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="creatime != null" >
        #{creatime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.future.ims.pojo.ImsIntegeralExample" resultType="java.lang.Integer" >
    select count(*) from ims_integeral
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ims_integeral
    <set >
      <if test="record.integeralId != null" >
        integeral_id = #{record.integeralId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.clubroom != null" >
        clubroom = #{record.clubroom,jdbcType=VARCHAR},
      </if>
      <if test="record.semester != null" >
        semester = #{record.semester,jdbcType=VARCHAR},
      </if>
      <if test="record.class != null" >
        class = #{record.class,jdbcType=VARCHAR},
      </if>
      <if test="record.creatime != null" >
        creatime = #{record.creatime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ims_integeral
    set integeral_id = #{record.integeralId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=VARCHAR},
      reason = #{record.reason,jdbcType=VARCHAR},
      clubroom = #{record.clubroom,jdbcType=VARCHAR},
      semester = #{record.semester,jdbcType=VARCHAR},
      class = #{record.class,jdbcType=VARCHAR},
      creatime = #{record.creatime,jdbcType=DATE},
      update_time = #{record.updateTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.future.ims.pojo.ImsIntegeral" >
    update ims_integeral
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="clubroom != null" >
        clubroom = #{clubroom,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        semester = #{semester,jdbcType=VARCHAR},
      </if>
      <if test="class != null" >
        class = #{class,jdbcType=VARCHAR},
      </if>
      <if test="creatime != null" >
        creatime = #{creatime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where integeral_id = #{integeralId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.future.ims.pojo.ImsIntegeral" >
    update ims_integeral
    set name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      clubroom = #{clubroom,jdbcType=VARCHAR},
      semester = #{semester,jdbcType=VARCHAR},
      class = #{class,jdbcType=VARCHAR},
      creatime = #{creatime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where integeral_id = #{integeralId,jdbcType=INTEGER}
  </update>
</mapper>