<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>个人情况</title>
		<link rel="stylesheet" type="text/css"
			th:href="@{/static/css/bootstrap.min.css}" />
			<link rel="stylesheet" type="text/css"
			th:href="@{/static/css/person.css}" />
	</head>
	<!--班级情况界面-->
	<body>
		<div class="header">
			<p>个人积分详情</p>
			<p style="font-size: 1em;" th:text="${intSemester}"></p>
		</div>
		<div class="center">
			<table class="table table-responsive">
				<thead style="color: cornflowerblue;">
				<tr>
					<td>姓名</td>
					<td>积分</td>
					<td>积分变动原因</td>
					<td>时间</td>
					<td>部室</td>
				</tr>
			</thead>
			<tbody>
					<tr th:each="prod : ${pageInfo}">
						<td th:text="${prod.studentName}"></td>
						<td th:text="${prod.score}"></td>
						<td th:text="${prod.reason}"></td>
						<td th:text="${prod.time}"></td>
						<td th:text="${prod.clubroom}"></td>
					</tr>
			</tbody>
			</table>
			
		</div>
	</body>
</html>