<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

        <!-- 扫描@Controler  @Service   -->
        <context:component-scan base-package="org.future.ims"/>
        
        <!-- 注解驱动 -->
        <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>
        
        <!-- 配置Conveter转换器  转换工厂 （日期、去掉前后空格）。。 -->
        <bean id="conversionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        	<!-- 配置 多个转换器 -->
        	<property name="converters">
        		<list>
        			<bean class="org.future.ims.utils.DateConveter"/>
        		</list>
        	</property>
        </bean>
        
        <!-- 上传图片配置实现类 -->
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        	<!-- 上传图片的大小   B   5M  1*1024*1024*5-->
        	<property name="maxUploadSize" value="5000000"/>
        </bean>
        
        
        <!-- Springmvc的异常处理器 -->
        <!--  <bean class="org.future.ims.utils.CustomExceptionResolver"/> -->

		<!-- SPringmvc的拦截器 -->
		<mvc:interceptors>
			<!-- 多个拦截器 -->
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<!-- 自定义的拦截器类 -->
				<bean class="org.future.ims.utils.UserInterceptor"/>
			</mvc:interceptor>
			
	 	</mvc:interceptors>
        
       <!--  视图解释器       SpringMVC + thymeleaf 配置-->
       <bean id="templateResolver"  class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
         <property name="prefix" value="/WEB-INF/pages/" />
         <property name="suffix" value=".html" />
         <property name="templateMode" value="HTML5" />
         <!--设置缓存    在不重启服务器的情况下刷新页面显示效果  -->
         <property name="cacheable" value="false" />  
       </bean>
       
       
       <bean id="templateEngine"
           class="org.thymeleaf.spring4.SpringTemplateEngine">
          <property name="templateResolver" ref="templateResolver" />
       </bean>

       <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
          <property name="templateEngine" ref="templateEngine" />
          <!--解决中文乱码-->  
          <property name="characterEncoding" value="UTF-8"/> 
       </bean>      
        
        
   </beans>