*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	width:100%;
	background-color: #d8dcdf;
	overflow: hidden;/*防止高度塌陷*/
}
.header{
	color: #FFFFFF;
	height: 60px;
	width: 100%;
	overflow: hidden;
	background-color: #242424;
	border-bottom: 5px #8B0000 solid;
}
.h-info{
	float: left;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	padding-left: 20px;
}
.h-info a{
	color: white;
	padding: 5px;
	margin-right: 5px;
	font-size: 20px ;
}
.s2{
	font-family: "楷体";
	font-size: 26px;
	padding: 2px 8px;
	margin-left: 50px;
}
.p-info{
	float:right;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	padding-right: 5px;
	}
.p-info a{
	font-size: 20px;
	color: white;
	padding:0px 3px ; 
	text-decoration: none;
	cursor: pointer;
}
.s1{
	position: relative;
	top:-3px;
	font-family: "楷体";
	font-size: 16px;
}
.s1 i{
	font-size: 12px;
}
.s1 img{
	width:30px;
	height: 30px;
	border-radius: 26px;
	margin:  0 0 0 10px;
}
.s3{
	margin-left: 15px;
}
.info{
	width:80px;
	height: 60px;
	padding: 5px;
	position: absolute;
	margin-left: 28px;
	background-color: #0096E6 ;
	display: none;
}
.main{
	clear: both;
	padding-left:250px;
}
.left{
	float: left;
	height:100%;
	width:250px;
	margin-left: -250px;
}
.right{
	float: right;
	width:100%;
	min-width: 200px;
	height:1180px;
	padding: 20px 30px 30px 5px;
	
}
.l-header{
	width: 80%;
	margin: 20px auto;
	background-color: white;
	padding: 15px;
	height: 160px;
}
.myimg{
	float:left;
	width:60px;
	margin-left: 5px;
	margin-top: 40px;
}
.myimg img{
	border-radius: 30px;
}
.p-group{
	float: right;
	margin-top:30px ;  
	text-align: center;
	margin-right: 10px;
}
.p-group span{
	font-size: 18px;
}
.unique{
	color: darkgrey;
}
.states{
	color: #5CB85C;
}
.l-body{
	width:80%;
	margin: 20px auto;
	background-color: white;
	height:960px;
	display: block;
}
.list-body a{
	color: #080808;
}
@media screen and (max-device-width: 767px) 
{ 
	
	.left{
		float: left;
		height:100%;
		width:auto;
		margin-left: 0px;
		margin-top: -15px;
	}
	.h-info{
		float: left;
		height: 60px;
		line-height: 60px;
		overflow: hidden;
		padding-left: 5px;
	}
	.main{
		clear: both;
		padding-left:0px;
	}
	.l-body{
		width: 160px;
		margin: 20px auto;
		background-color: white;
		height:960px;
		position: absolute;
		display: none;
	}
	.list-body li a{
		font-size: 14px;
		padding: 8px 10px;
	}
	.right{
		float: right;
		width:100%;
		min-width: 200px;
		height:1180px;
		padding: 10px 5px 20px 5px;
		
	}
} 