*{
	padding: 0;
	margin: 0;
}
html,body{
	background-color: #d8dcdf;
	font-size: 18px;
}
.r-top{
	height: 160px;
	margin-bottom: 20px;
	overflow: hidden;
}
.titile{
	height: 130px;
	padding: 20px;
}

.img{
	float:left;
}
.img i{
	font-size: 100px;
}
.detail-info{
	float: left;
	margin-left: 50px;
}
.p1{
	font-family: "楷体";
	font-size: 44px;
}
.p2{
	font-size: 30px;
	color: #545557;
}
.input-group{
	width: 320px;
	position: relative;
	left:60%;
	transform: translateX(-50%);
}
.e-input{
	float: left;
	margin-right: 80px;
}
.e-input input{
	background-color: #EFF3F4;
	border: 0;
	width: 240px;
	border-radius: 3px;
	text-indent: 8px;
	margin-top: 10px;
}
.last{
	margin-right: 80px;
}
.search{
	float: right;
	margin-right: 50px;
	margin-top: -20px;
	font-size: 24px;
}
.search a{
	color: #8A8F95;
}
.r-main{
	background-color: white;
	color:#8a8f95;
	padding: 15px;
	overflow: auto;
}
.option{
	margin-top: 10px;
}
.o-left{
	padding: 5px;
}
.o-left span{
	position: relative;
}
.o-right{
	position: absolute;
	right: 10px;
}
.o-right a{
	text-decoration: none;
	font-size: 18px;
}
.o-right a i{
	font-size: 20px;
}
.o-right span{
	color:#8A8F95;
}
.table{
	text-align: center;
	font-size: 14px;
}


/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.input-group{
		width: 70%;
		position: relative;
		top:8%;
		left:50%;
		transform: translateX(-50%);
	}
	.e-input{
		float: left;
		margin-right: 85px;
	}
	.e-input input{
		background-color: #EFF3F4;
		border: 0;
		width: 180px;
		height: 40px;
		border-radius: 3px;
		text-indent: 8px;
		margin-top: 20px;
	}
	.last{
		margin-right: 50px;
	}
	.search{
		float: right;
		margin-right: 10px;
		font-size: 28px;
		margin-top: 0px;
	}
	.o-right{
		position: absolute;
		right: 50px;
	}
	.table-responsive{
		min-width: 900px;
	}
	 
}
@media (min-width: 990px) {
	.input-group{
		width: 100%;
		position:static;
		top:0;
		left: 0;
		transform: rotateX(0);
	}
	.e-input{
		float: left;
		margin-right: 70px;
}
	.last{
		margin-right: 20px;
		}
	.e-input input{
		background-color: #EFF3F4;
		border: 0;
		width: 170px;
		height: auto;
		border-radius: 2px;
		text-indent: 8px;
		margin-top: 0;
	}
	.search{
		float: right;
		margin-right: 60px;	
		font-size: 18px;
	}
	.table{
		text-align: center;
		font-size: 16px;
}
	
}
@media (min-width: 1200px) {
	.e-input{
		margin-right: 80px;
}
	.last{
		margin-right: 20px;
		}
	.e-input input{
		width: 200px;
	}
	.search{
		margin-right: 80px;	
	}
}
 
