*{
	padding: 0;
	margin: 0;
}
html,body{
	height: auto;
	width:100%;
	background-color: #d8dcdf;
}
.header{
	color: #FFFFFF;
	height: 60px;
	width: 100%;
	overflow: hidden;
	background-color: #242424;
	border-bottom: 5px #8B0000 solid;
}
.h-info{
	float: left;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	padding-left: 20px;
}
.h-info a{
	color: white;
	padding: 5px;
	margin-right: 5px;
	font-size: 20px ;
}
.s2{
	font-family: "楷体";
	font-size: 20px;
	padding: 2px 8px;
	margin-left: -8px;
}
.p-info{
	float:right;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	padding-right: 5px;
	}
.p-info a{
	font-size: 20px;
	color: white;
	padding:0px 3px ; 
	text-decoration: none;
	cursor: pointer;
}
.s1{
	position: relative;
	top:-3px;
	font-family: "楷体";
	font-size: 16px;
}
.s1 i{
	font-size: 12px;
}
.s1 img{
	width:30px;
	height: 30px;
	border-radius: 26px;
	margin:  0 0 0 10px;
}
.s3{
	margin-left: 15px;
}
.info{
	width:100px;
	position: absolute;
	margin-left: 20px;
	background: #97A1AA;
	display: none;
	z-index: 9;
	margin-top: -5px;
}
.info ul{
	display: none;
}
.info ul li{
	list-style: none;
	margin-left: 5px;
	height: 40px;
}
.main{
	clear: both;
	background-color: #d8dcdf;
	font-size: 18px;
	
}
.r-top{
	height: 160px;
	margin-bottom: 20px;
	overflow: hidden;
}
.titile{
	height: 130px;
	padding: 20px;
}

.img{
	float:left;
}
.img i{
	font-size: 100px;
}
.detail-info{
	float: left;
	margin-left: 50px;
}
.p1{
	font-family: "楷体";
	font-size: 44px;
}
.p2{
	font-size: 30px;
	color: #545557;
	letter-spacing: 5px;
}
.input-group{
	width: 320px;
	position: relative;
	left:60%;
	transform: translateX(-50%);
}
.e-input{
	float: left;
	margin-right: 80px;
}
.e-input input,.e-input select{
	background-color: #EFF3F4;
	border: 0;
	width: 240px;
	border-radius: 3px;
	text-indent: 8px;
	margin-top: 10px;
}
.e-input select{
	min-height: 25px;
	
}
.last{
	margin-right: 80px;
}
.search{
	float: right;
	margin-right: 50px;
	margin-top: -20px;
	font-size: 24px;
}
.search a{
	color: #8A8F95;
}
.r-main{
	background-color: white;
	color:#8a8f95;
	padding: 15px;
	min-height: 680px;
	overflow: auto;
}
.table{
	text-align: center;
	font-size: 14px;
}
.first input{
	position: relative;
	top:1px;
}


/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.input-group{
		width: 80%;
		position: relative;
		top:4%;
		left:50%;
		transform: translateX(-50%);
	}
	.s2{
		font-size: 26px;
		margin-left: 50px;
	}
	
	.e-input{
		float: left;
		margin-right: 75px;
	}
	.e-input input,.e-input select{
		background-color: #EFF3F4;
		border: 0;
		width: 180px;
		height: 40px;
		border-radius: 3px;
		text-indent: 8px;
		margin-top: 20px;
	}
	.last{
		margin-right: 50px;
	}
	.search{
		float: right;
		margin-right: 10px;
		font-size: 28px;
		margin-top: 0px;
	}
	.o-right{
		position: absolute;
		right: 50px;
	}
	.table-responsive{
		min-width: 1000px;
	}
	 
}
@media (min-width: 990px) {
	.input-group{
		width: 100%;
		top:0;
		left: 0;
		transform: rotateX(0);
		margin-left: 20px;
	}
	.e-input{
		float: left;
		margin-right: 70px;
}
	.last{
		margin-right: 20px;
		}
	.e-input input,.e-input select{
		background-color: #EFF3F4;
		border: 0;
		width: 140px;
		height: 36px;
		border-radius: 2px;
		text-indent: 8px;
		margin-top: 0;
	}
	.search{
		float: right;
		margin-right: 60px;	
		font-size: 18px;
	}
	.table{
		text-align: center;
		font-size: 16px;
}
	
}
@media (min-width: 1200px) {
	.e-input{
		margin-right: 80px;
}
	.last{
		margin-right: 20px;
		}
	.e-input input,.e-input select{
		width: 150px;
	}
	.search{
		margin-right: 100px;	
	}
}