*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 800px;
	background: url(../img/bg.jpg) center top no-repeat;
	background-size: cover;
	overflow-x: hidden;
}
.contain{
	widthï¼š100%;
	height: 100%;
}
.center{
	position: relative;
	top:100px;
}
.icon{
	width: 120px;
	margin: 10px auto;
	
}
.title{
	float:left;
	position: relative;
	left: 50%;
	top:30px;
}
.title p{
	font-size: 1.8rem;
	position: relative;
	transform: translateX(-50%);
}
form{
	clear: both;
}
.form-center{
	position: relative;
	top:100px;
}
.input-group{
  width:360px;
  margin:20px auto;
 }
input[type="text"],#mybtn,#mysel{
  box-sizing: border-box;
  text-align:center;
  font-size:1.4em;
  height:2.7em;
  border-radius:4px;
  border:1px solid #c8cccf;
  color:#6a6f77;
  -web-kit-appearance:none;
  -moz-appearance: none;
  display:block;
  outline:0;
  padding:0 1em;
  text-decoration:none;
  width:100%;
  background: rgba(0,0,0,0);
  cursor: pointer;
}
input[type="text"]:focus{
	border: 1px solid #0188fb;
}
#mysel{
	appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;
}
select::-ms-expand { display: none; }
#mybtn{
	background-color: #0188fb;
	color: white;
}
#mybtn:active{
	background: #204D74;
}