*{
	padding: 0;
	margin: 0;
}
body{
	overflow: hidden;
}
.header{
	min-width: 300px;
	margin-top: 120px;
	margin-bottom: 30px;
	text-align: center;
}
.header p{
	margin: 20px 0px;
	color: green;
	font-size: 1.5rem;
}
.center{
	text-align: center;
}
.center ul{
	width:90%;
	list-style: none;
	display:inline-block;
	border-bottom: 1px solid grey;
}
.center ul li{
	clear: both;
	padding: 20px 60px;
	text-align: center;
	min-height: 10px;
	border-top: 1px grey solid;
}
.center ul li span{
	display: inline-block;
	
}
.left{
	text-align: center;
	float: left;
	width: 80px;
}
.right{
	width: 30px;
	float: right;
}
.mybtn{
	margin-top: 50px;
	clear: both;
	text-align: center;
}
.mybtn span{
	display: inline-block;
	width: 20px;
}
.btn{
box-sizing: border-box;
  text-align:center;
  font-size:1.4em;
  height:2em;
  border-radius:4px;
  border:1px solid #c8cccf;
  color:white;
  -web-kit-appearance:none;
  -moz-appearance: none;
  outline:0;
  padding:0 .8em;
  text-decoration:none;
  cursor: pointer;
  background-color: #0188FB;
}
.result{
	color:red; font-size:1.2rem; text-align:center;
}