*{
	padding:0px;
	margin: 0px;
}
body{
	width: 100%;
	height: 100%;
	background: url(../img/wbg.png) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;	
}
.center{
	margin-top: 100px;
}
.header{
	text-align: center;
	font-size: 20px;
	
}
.xglogo{
	display: block;
	height: 51px;
	width:60px;
	background: url(../img/whead.png) no-repeat ;
	margin: 10px auto;
}

.text{
	padding-left: 50px;
	display: inline-block;
	text-align: left;
	margin-top: 120px;
	margin-bottom: 80px;
	color: gray;
	font-size: 1.5rem;
}
.text span{
	display: inline-block;
	width: 50%;
	
	min-width: 400px;
}
.text p{
	font-size: 1.2rem;
	margin-top: 5px;
	line-height: 1.8rem;
	
}
@media only screen and (max-width: 640px) {
	.text{
		margin-top: 40px;
		padding-left: 25px;
		font-size: 1.2rem;
	}
	.text span{
	min-width: 300px;
}
}